duckdb==1.2.2
pyarrow==18.1.0
paramiko==3.5.1
pandas==2.2.3
psycopg2-binary==2.9.10
sqlalchemy==2.0.37
dbt-core==1.9.4
dbt-duckdb==1.9.1
dagster==1.9.13
dagster-dbt==0.25.13
dagster-webserver==1.9.13
dagster-postgres==0.25.13
